POLY_DRY_RUN=true
POLY_PRIVATE_KEY=
POLY_API_KEY=
POLY_API_SECRET=
POLY_API_PASSPHRASE=
POLY_FUNDER_ADDRESS=
POLY_CAPITAL_PER_WINDOW_USD=100
POLY_MAX_CONCURRENT_WINDOWS=1
POLY_N_LADDER_LEVELS=4
POLY_IMBALANCE_CEILING_SHARES=200
POLY_PULL_QUOTE_SECONDS=8
